{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container content-section create-room-form">
    <div class="p-3 py-5">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create your room post</legend>
                {{ room_form|crispy }}
                {{ address_form|crispy }}
            </fieldset>
            <div class="form-group">
                <label>Upload images</label>
                <input id="input_imgs" name="images" type="file" multiple class="form-control-file" accept="image/jpeg, image/png, image/jpg"> <br>
                <output class="img-select" id="output_imgs"></output>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

