<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/svg/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}" />

    <title>Cohousing</title>
</head>
<body class="bg-cream">
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-color fixed-top">
            <div class="container">
                <a href="{% url 'home' %}" class="header-logo mr-1"> <img src="{% static 'images/svg/logo.svg' %}" alt="Logo"/></a>
                <a class="navbar-brand mr-4" href="{% url 'home' %}">Cohouse</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <li class="nav-item ml-1"><a class="nav-link" href="{% url 'home' %}">Home</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle ml-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              About
                            </a>
                            <div class="dropdown-menu bg-color" aria-labelledby="navbarDropdown">
                                <a class="nav-link mb-1" href="{% url 'about' %}">About</a>
                                <a class="nav-link mb-1" href="{% url 'values' %}">Values</a>
                                <a class="nav-link mb-1" href="{% url 'mission' %}">Mission</a>
                                <a class="nav-link" href="{% url 'story' %}">Story</a>
                            </div>
                        </li>

                    </div>

                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                            <li class="nav-item ml-1"><a class="nav-link" href="{% url 'room-list' %}">Search room</a></li>
                            <li class="nav-item ml-1"><a class="nav-link" href="{% url 'room-create' %}">New room</a></li>
                            <li class="nav-item ml-1"><a class="nav-link" href="{% url 'room-user-list' %}">My rooms</a></li>
                            <li class="nav-item ml-1"><a class="nav-link" href="{% url 'user-profile' user.id %}">Profile</a></li>
                            <li class="nav-item ml-1"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li class="nav-item ml-1"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                            <li class="nav-item ml-1"><a class="nav-link" href="{% url 'create-profile' %}">Register</a></li>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

    </header>

    <main role="main">
        <div class="py-5 bg-light container">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                    {% elif message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                    {% elif message.tags == 'info' %}
                        <div class="alert alert-info alert-dismissible" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                    {% elif message.tags == 'warning' %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </main>

    <footer class="footer text-muted">
        <div class="container">
          <p class="float-right">
            <a class="footer-link" href="#">Back to top</a>
          </p>
          <p>Cohouse is copyright &copy; 2023</p>
          <p>All rights reserved.</p>
        </div>
      </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="{% static 'js/img_show.js' %}"></script>

    <script>
        // Add active to nav bar
        document.querySelectorAll(".nav-link").forEach((link) => {

            if (link.href === window.location.href.split("?")[0]) {
                link.classList.add("active");
                link.setAttribute("style", "color: #F26419;");

                if (link.parentNode.classList.contains("dropdown-menu") == true) {
                    const dropdown_element = document.getElementById('navbarDropdown');
                    dropdown_element.classList.add("active");
                    dropdown_element.setAttribute("style", "color: #F26419;");
                }
            }
        });

    </script>
</body>
</html>