{% extends "base.html" %}
{% block content %}
<div class="p-3 py-5">
    <div class="bg-about-img" id="bg-mission">
        <h1 class="display-4 about-text">Mission</h1>
    </div>

    <p class="lead">At Cohouse, our mission is to revolutionize the way individuals find their ideal cohousing community and to foster vibrant, connected, and sustainable living environments. We are committed to empowering individuals in their cohousing journey by providing a comprehensive platform that simplifies the search process, offers valuable resources, and facilitates meaningful connections within the cohousing community.
        <br><br>
        Through our website, we aim to:
        <ol>
            <li>Provide Accessible and Comprehensive Information: We strive to gather and present comprehensive information about cohousing communities, enabling individuals to make informed decisions about their future homes. By curating an extensive network of cohousing listings, we ensure that individuals have access to a diverse range of options and can explore communities that align with their values, aspirations, and lifestyle preferences.</li>
            <li>Facilitate Connections and Engagement: We believe that cohousing is more than just finding a physical space; it's about fostering genuine connections and building a sense of community. Our platform goes beyond listings by providing forums, events, and networking opportunities that facilitate interactions and foster a sense of belonging within the cohousing movement. We aim to be a hub where individuals can connect, share experiences, and learn from one another.</li>
            <li>Promote Sustainability and Eco-Consciousness: We recognize the importance of sustainable living practices and their impact on the environment. By highlighting and supporting cohousing communities that prioritize sustainability, energy efficiency, and mindful consumption, we aim to promote eco-consciousness and contribute to a more sustainable future.</li>
            <li>Empower Individuals on Their Cohousing Journey: We are dedicated to empowering individuals throughout their cohousing journey. Through our user-friendly website, we provide tools, resources, and guides that address common challenges, offer insights into community dynamics, and promote personal growth within the cohousing lifestyle. We aim to equip individuals with the knowledge and support they need to create fulfilling and thriving cohousing experiences.</li>
            <li>By pursuing our mission, we aspire to be a trusted and empowering resource for individuals seeking cohousing communities. We aim to play an integral role in the cohousing movement, fostering connections, promoting sustainable living, and ultimately contributing to the well-being and happiness of individuals within cohousing communities.</li>
        </ol>
    </p>
    <hr>
</div>

{% endblock content %}