{% extends "base.html" %}
{% block content %}

<div class="p-3 py-5">
    <div class="bg-about-img" id="bg-values">
        <h1 class="display-4 about-text">Values</h1>
    </div>

    <p class="lead">At Cohouse, our values are deeply rooted in the principles of cohousing and the promotion of vibrant, connected communities. Here are the core values that guide our work:
        <ol>
            <li>Community: We believe in the power of community and the positive impact it has on individuals and society as a whole. We value the creation of supportive, inclusive, and collaborative environments where residents can build strong relationships, engage in meaningful interactions, and experience a true sense of belonging.</li>
            <li>mpowerment: We are committed to empowering individuals to make informed decisions about their cohousing journey. We provide resources, tools, and comprehensive information to help individuals navigate the process and find a community that aligns with their values, aspirations, and lifestyle preferences. We believe in the transformative power of cohousing and aim to empower individuals to shape their living environments.</li>
            <li>Sustainability: We recognize the importance of sustainable living practices and their impact on the environment and future generations. We value cohousing communities that embrace eco-consciousness, energy efficiency, renewable resources, and mindful consumption. We strive to highlight and support communities that prioritize sustainability, fostering a more environmentally responsible way of living.</li>
            <li>Diversity and Inclusion: We celebrate diversity in all its forms and believe that vibrant communities are enriched by a range of perspectives, backgrounds, and experiences. We are committed to promoting inclusivity, equity, and respect within cohousing communities. We actively seek to feature communities that embrace diversity and provide an environment where everyone feels welcome, valued, and respected.</li>
            <li>Authenticity and Transparency: We value authenticity and transparency in all our interactions. We strive to provide accurate and comprehensive information about cohousing communities, ensuring that residents and potential residents have a clear understanding of the community's values, decision-making processes, and expectations. We promote open communication and honesty to foster trust and enable individuals to make informed choices.</li>
            <li>ontinuous Learning and Growth: We believe in the power of lifelong learning and personal growth within cohousing communities. We support residents in their journey by offering resources, articles, and guides that promote self-reflection, conflict resolution, effective communication, and the development of essential skills for communal living. We encourage individuals to embrace personal growth as they engage in the cohousing experience.</li>
            <li>By upholding these values, we strive to be a trusted and empowering resource for individuals seeking cohousing communities. We are dedicated to promoting the cohousing movement, facilitating connections, and contributing to the well-being and sustainability of cohousing communities across the country.</li>
        </ol>
    </p>
    <hr>
</div>
{% endblock content %}