body {
    margin-top: 2.5rem;
}

.bg-cream {
    background-color: #F4EBD0;
}
 

/* Navigation bar */
.bg-color {
    background-color: #F26419;
}

.site-header .navbar-nav .nav-link {
    color: #fff;
}

.site-header .navbar-nav .nav-link:hover {
    color: #fff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.header-logo {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.header-logo > img {
    height: 2.2rem;
    width: 2.2rem;
    filter: invert(100%);
}

.navbar .active,
.navbar .active:focus,
.navbar .nav-link:hover {
    background-color: #343a40;
    border-radius: 16px;
}


/* Footer */
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.footer-link, .footer-link:hover {
    color: #F26419;
}


/* Show rooms in the search room page  */
.filter-content {
    border-radius: 8px;background: #343a40;color: #fff;border: 1px solid #dddddd;
}

.paginate-bar {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;  
    justify-content: center;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.card-border-radius-bottom { 
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.carousel-indicators > li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.carousel-indicators {
  	margin: 0;
}

.listing-icon {
    width: 25px;
}

.listing-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
}


/* Room form */
.content-section {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.create-room-form {
    max-width: 60vw;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: solid;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    color: #17a2b8;
    background-color:transparent;
    background-image:none;
    border-color:#17a2b8;
    border-width: thin;
  }
  
input[type=file]::file-selector-button:hover {
    color: #fff;
    background-color: #17a2b8;
}


/* Output images when creating a room */
.img-select {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    border-radius: 5px;
}
  
.img-select .image {
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
}
  
.img-select .image img {
    height: 100%;
    width: 100%;
}
  
.img-select .image span {
    position: absolute;
    top: -4px;
    right: 4px;
    cursor: pointer;
    font-size: 22px;
    color: white;
}
  
.img-select .image span:hover {
    opacity: 0.8;
}
  
.img-select .span--hidden {
    visibility: hidden;
}


/* Room detail */
div.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
  
div.scroll-container img {
    padding: 10px;
    height: 60vh;
}

.detail-date-container {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
}

.detail-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.detail-column {
    padding: 1rem;
}

.detail-date-column {
    float:right;
}
  
@media (max-width: 768px) {
    .detail-container {
      grid-template-columns: 1fr;
    }
    .detail-date-container {
        grid-template-columns: 1fr;
    }
    .detail-date-column {
        float:left;
    }
}


/* Login screen */
.signin-content-section {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
    width: 450px;
}

.signin-content-section .fieldWrapper {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin: 0 auto;
}  

.signin-content-section a, button {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
} 


/* Homepage */
.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}
  
@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    
    .featurette-heading {
        font-size: 50px;
        }
}
  
@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


/* About pages */
.bg-about-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;display: flex;
    justify-content: center;
    align-items:center;
    height: 400px;
}

.about-text {
    color: #fff;
    text-align: center;
    background-color: #F26419;
    border-radius: 16px
}

#bg-about {
    background-image: url('../images/home_page/about.jpg');
}

#bg-mission {
    background-image: url('../images/home_page/mission.jpg');
}

#bg-values {
    background-image: url('../images/home_page/values.jpg');
}

#bg-story {
    background-image: url('../images/home_page/story.jpg');
}

